{% extends 'base.html.twig' %}

{% block content %}
<section class="pt-5">
    <div class="container">
            <form action="" method="post">
                <h2 class="text-center primary-text">Inscription</h2>
                <div class="row g-3">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input type="text" name="prenom" class="form-control" placeholder="Prénom" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input type="text" name="nom" class="form-control" placeholder="Nom" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Pseudo" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12">       
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Mot de passe" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12">       
                        <div class="form-group">
                            <input type="password" name="password_retype" class="form-control" placeholder="Re-tapez le mot de passe" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12">       
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Inscription</button>
                        </div>
                    </div>
                </div>   
            </form>
    </div>            
</section>            
{% endblock %}