{% extends 'base.html.twig' %}

{% block content %}
<section id="main-section">
    <div class="div-wrapper">
        <img src="{{ asset('images/mountains.png') }}" class="mountains">
    </div>
</section>
{% endblock %}