{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row mb-2">
                {% for figure in figures %}
                    {% include "macros/macro.figure.html.twig" %}
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            {% for comment in comments %}
                {% include "macros/macro.comment.html.twig" %}
            {% endfor %}
        </div>
        </div>
</div>
{% endblock %}
