{% extends 'base.html.twig' %}

{% block title %}Admin Snowtricks{% endblock %}

{% block content %}

<div class="container py-5">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-figure-tab" data-bs-toggle="tab" data-bs-target="#nav-figure" type="button" role="tab" aria-controls="nav-figure" aria-selected="true">Figures</button>
            <button class="nav-link" id="nav-commentaire-tab" data-bs-toggle="tab" data-bs-target="#nav-commentaire" type="button" role="tab" aria-controls="nav-commentaire" aria-selected="false">Commentaires</button>
            <button class="nav-link" id="nav-category-tab" data-bs-toggle="tab" data-bs-target="#nav-category" type="button" role="tab" aria-controls="nav-category" aria-selected="false">Créer catégorie</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-figure" role="tabpanel" aria-labelledby="nav-figure-tab">
            <div class="row">
                {% for figure in figures %}
                    <div class="col-12 col-md-6">
                        {% include "macros/macro.figure.html.twig" %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="nav-commentaire" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
                {% for comment in comments %}
                    <div class="col-12 col-md-6">
                        {% include "macros/macro.comment.html.twig" %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab">
            <div class="row">
                {% for comment in comments %}
                    <div class="col-12 col-md-6">
                        {% include "macros/macro.category-form.html.twig" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
